<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container container--flex">
      <div class="card">
        <div class="card__inner">
          <div class="card__back">&nbsp;</div>
          <div class="card__front">&nbsp;</div>
        </div>
      </div>
      <div class="credit">
        <p>Hover on the card to flip it.</p>
        <p>
          I get the asset from
          <a
            href="https://opengameart.org/content/trading-card-template"
            target="_blank"
            >OpenGameArt</a
          >
        </p>
        <p>Credit to Avery Ross for the 🔥🔥🔥 card asset</p>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
